@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saturdate Serif";
  src: url("/fonts/Saturdate Serif.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Constantine";
  src: url("/fonts/Constantine.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Code128";
  src: url("/fonts/Code128.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Cartier";
  src: url("/fonts/Cartier.ttf");
  font-display: swap;
}

.writingMode {
  writing-mode: tb;
}

.writingModeNormal {
  writing-mode: initial !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
